<div class="footer">
	<p style="margin-top: 30px;">Follow us on:</p>
	<p class="footerShares">
		<a href="https://plus.google.com/u/0/113722542541936523166/posts" title="Offical Google Plus Account" target="_blank"><img src="/images/icons/footerG.png" alt="Google+" /></a>
		<a href="https://twitter.com/fanformed" title="Offical Google Plus Account" target="_blank"><img src="/images/icons/footerT.png" alt="Twitter" /></a>
	</p>
	<p style="margin-top:30px">2013 FanFormed Inc. All Rights Reserved.</p>
	<p style="margin-top:8px">Contact Us: <a href="mailto:sa@fanformed.com">sa@fanformed.com</a></p>
	<a href="http://www.softlayer.com/" class="gotoSoftlayer" title="Powered by softlayer"><img src="/images/icons/default.png" alt="Softlayer" /></a>
</div>

