<form role="form">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">#</span>
      <input id="clothes-name" class="form-control" ng-model="clothes.name" placeholder="名称">
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <input class="form-control" type="text" ng-model="clothes.category" placeholder="category" />
    </div>
    <span>/</span>
    <div class="form-group">
      <input class="form-control" type="text" ng-model="clothes.slug" placeholder="slug" />
    </div>
    <span>￥</span>
    <div class="form-group">
      <input type="number" id="clothes-price" class="form-control" ng-model="clothes.price" placeholder="价格">
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="form-group col-md-5">
      <input type="text" id="clothes-variants-slug" class="form-control" ng-model="variant.slug" placeholder="规格 id">
    </div>
    <div class="form-group col-md-5">
      <input type="text" id="clothes-variants-name" class="form-control" ng-model="variant.name" placeholder="规格显示名称">
    </div>
    <div class="form-group col-md-2">
      <button ng-click="addVariant()" class="btn btn-primary" type="submit">增加规格</button>
    </div>
  </div>
  <div class="row" ng-repeat="invt in clothes.inventory">
    <div class="col-md-6 form-group">
      <div class="">{{invt.slug}}/{{invt.name}}</div>
      <div class="">S:<input class="form-control" ng-model="invt.s" type="number" min="0"></div>
      <div class="">M:<input class="form-control" ng-model="invt.m" type="number" min="0"></div>
      <div class="">L:<input class="form-control" ng-model="invt.l" type="number" min="0"></div>
      <div class="">XL:<input class="form-control" ng-model="invt.xl" type="number" min="0"></div>
    </div>
    <div class="col-md-6">
      <p>S:{{invt.s}}</p>
      <p>M:{{invt.m}}</p>
      <p>L:{{invt.l}}</p>
      <p>XL:{{invt.xl}}</p>
    </div>
  </div>


  <div class="form-group">
    <textarea placeholder="描述" ng-model="clothes.description" class="form-control"></textarea>
  </div>

  <div class="pull-right btn-group">
    <button class="btn btn-default" ng-click="cancel()">返回</button>
    <button class="btn btn-primary" ng-click="addClothes()">保存</button>
  </div>
</form>
