<div class="row">
  <form ng-if="action=='add'" role="form">
    <div class="form-group">
      <label for="clothes-name">名称</label>
      <input id="clothes-name" class="form-control" ng-model="clothes.name" placeholder="名称">
    </div>
    <div class="form-group">
      <input type="file">
      upload picture here.
    </div>
    <div class="form-group">
      <label for="clothes-price">价格</label>
      <input id="clothes-price" class="form-control" ng-model="clothes.price" placeholder="价格">
    </div>
    <div class="form-group">
      <label for="clothes-quantity">数量</label>
      <input type="number" min="0" id="clothes-quantity" class="form-control" ng-model="clothes.quantity">
    </div>

    <div class="pull-right btn-group">
      <button class="btn btn-default" ng-click="cancel()">返回</button>
      <button class="btn btn-primary" ng-click="addClothes()">增加</button>
    </div>
  </form>
  <div ng-if="action=='list'">
    <div class="col-xs-12">
      <a class="pull-right btn btn-primary" href="/#/clothes/add">增加</a>
    </div>
    <div class="col-xs-12">
      <p> ng-repeat = clothe in clothes </p>
    </div>
  </div>
</div>
