<form role="form">
  <div class="form-group">
    <div class="row">
      <div class="col-md-9">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
          <input id="clothes-name" class="form-control" ng-model="clothes.name" placeholder="名称">
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-money"></i>
          </span>
          <input type="number" min="0" id="clothes-price" class="form-control" ng-model="clothes.price" placeholder="价钱">
        </div>
      </div>

    </div>
  </div>

  <hr/>

  <div class="form-group">
    <a ng-click="addVariant()" class="btn btn-primary">增加分类</a>
    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="slug">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="分类显示名称">
          </div>
        </div>
      </div>

      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>S</th>
              <th>M</th>
              <th>L</th>
              <th>XL</th>
            </tr>
          </thead>
          <tbody>
          <tr class="form-group">
            <td><i class="fa fa-plus-circle" style="line-height:33px; font-size:28px; cursor:pointer"></i></td>
            <td><input placeholder="s" type="text" class="form-control input-sm"></td>
            <td><input placeholder="m" type="text" class="form-control input-sm"></td>
            <td><input placeholder="l" type="text" class="form-control input-sm"></td>
            <td><input placeholder="xl" type="text" class="form-control input-sm"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <hr/>

  <div class="form-group">
    <textarea placeholder="描述" ng-model="clothes.description" class="form-control"></textarea>
  </div>

  <div class="pull-right btn-group">
    <button class="btn btn-default" ng-click="cancel()">返回</button>
    <button class="btn btn-primary" ng-click="addClothes()">保存</button>
  </div>
</form>
