<form role="form">
  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
          <input id="clothes-name" class="form-control" ng-model="clothes.name" placeholder="名称">
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-addon">s</span>
          <input placeholder="衣服 slug " id="clothes-slug" class="form-control" ng-model="clothes.slug">
        </div>
      </div>

      <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-addon">c</span>
          <input placeholder="分类" id="clothes-category" class="form-control" ng-model="clothes.category">
        </div>
      </div>

      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-money"></i>
          </span>
          <input type="number" min="0" id="clothes-price" class="form-control" ng-model="clothes.price" placeholder="价钱">
        </div>
      </div>

    </div>
  </div>

  <hr/>

  <div class="form-group">
    <div ng-init="inventory = {}" class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="form-inline pull-left">
          <div class="form-group">
            <input ng-model="inventory.slug" type="text" class="form-control" placeholder="slug">
          </div>
          <div class="form-group">
            <input ng-model="inventory.name" type="text" class="form-control" placeholder="分类显示名称">
          </div>
        </div>
        <a ng-click="addInventory()" class="btn btn-primary pull-right">增加分类</a>
      </div>

      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>S</th>
              <th>M</th>
              <th>L</th>
              <th>XL</th>
            </tr>
          </thead>
          <tbody>
          <tr class="form-group">
            <td><input ng-model="inventory.s" placeholder="s" type="text" class="form-control input-sm"></td>
            <td><input ng-model="inventory.m" placeholder="m" type="text" class="form-control input-sm"></td>
            <td><input ng-model="inventory.l" placeholder="l" type="text" class="form-control input-sm"></td>
            <td><input ng-model="inventory.xl" placeholder="xl" type="text" class="form-control input-sm"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>名称</th>
          <th>S</th>
          <th>M</th>
          <th>L</th>
          <th>XL</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="invt in clothes.inventory">
        <td>{{invt.name}}</td>
        <td>{{invt.s}}</td>
        <td>{{invt.m}}</td>
        <td>{{invt.l}}</td>
        <td>{{invt.xl}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <hr/>

  <div class="form-group">
    <textarea placeholder="描述" ng-model="clothes.description" class="form-control"></textarea>
  </div>

  <div class="pull-right btn-group">
    <button class="btn btn-default" ng-click="cancel()">返回</button>
    <button class="btn btn-primary" ng-click="addClothes()">保存</button>
  </div>
</form>
