<form role="form">
    <div class="row">
      <div class="col-md-12 form-group">
        <label for="sub-title">副标题</label>
        <input class="form-control" id="sub-title" type="text" ng-model="subTitle">
      </div>
      <div class="col-md-12 form-group">
        <label for="contact-us">联系我们</label>
        <div text-angular id="contact-us" ng-model="contactUs"></div>
      </div>
      <div class="col-md-12 form-group">
        <label for="about-us">关于我们</label>
        <div text-angular id="about-us" ng-model="aboutUs"></div>
      </div>
    </div>
</form>
