<div class="row">
  <div ng-repeat="page in pages" class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">{{page.name}}</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div ng-file-drag-over-class="hover" ng-file-drop="onFileSelect($files, page)" class="thumbnail">
              <img ng-src="{{page.path || 'http://placehold.it/400x300'}}">
            </div>
          </div>
          <hr/>
        </div>
      </div>
    </div>
  </div>
</div>
