
<div navbar orientation="vertical"></div>


<div class="detail-wrapper">
  <div id="clothes-image">
    <img ng-src="{{clothes.image}}" style="max-width: 100%;">
  </div>
  <div id="clothes-name">
    <strong><i class="fa fa-tags"></i>{{clothes.name}}</strong>
    <hr/>
  </div>
  <div id="clothes-misc">
    <div id="clothes-detail">
      <div id="clothes-price">
        <p class="price">￥{{clothes.price || 349}}</p>
        <p class="wording">TOTAL/ITEM</p>
      </div>
      <div style="float: left; line-height: 55px; padding: 0 20px; color: #e7e7e7" class="diamond">&diams;</div>
      <div style="float: left;" id="clothes-op">
        <span ng-click="selectSize(size)" class="clothes-sizes" ng-repeat="size in clothes.variants[0].sizes">{{size.name}}</span>

<br>
        <a style="color: black; cursor: pointer;" ng-click="addToCart($event, clothes)"><i class="fa fa-shopping-cart"></i>加入购物车</a>
        <a style="color: black; cursor: pointer;" href="#/detail/{{clothes.next}}"><i class="fa fa-arrow-circle-o-right"></i>下一件</a>
      </div>
    </div>    
  </div>
  
  <div id="user">
    
  </div>
  <style type="text/css" media="screen">
  .clothes-sizes {
    font-size: 18px;
    margin: 0 10px;
  }
  
  #user {
    padding: 0 40px;
    background-color: white;
    min-height: 300px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.89) 36%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(36%,rgba(255,255,255,0.89)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.89) 36%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.89) 36%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.89) 36%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.89) 36%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4fffffff',GradientType=0 ); /* IE6-9 */
  }
  </style>

</div>

<div social-account></div>


<style type="text/css" media="screen">
.detail-wrapper {
  float: left;
  width: 584px;
  margin: 0 115px;
  background-color: transparent;
  height: 100%;
}

#clothes-image {
  text-align: center;
  background-color: white;
  margin-top: -50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#clothes-name {
  padding: 0 40px;
  font-size: 26px;
  background-color: white;
}

#clothes-name hr {
  margin: 0;
}

#clothes-misc {
  background-color: white;
}

#clothes-misc:after {
  display: block;
  visibility: hidden;
  clear: both;
  content: '\0020';
  height; 0;
}

#clothes-detail {
  padding: 0 40px;
  text-align: right;
  background-color: white;
  float: right;
}

#clothes-price {
  float: left;
}

#clothes-price .price {
  float: left;
  margin: 0;
  font-size: 26px;
  color: rgb(255,227,0);
  text-shadow: none;
}

#clothes-price .wording {
  margin: 0;
  font-size: 14px;
  color: rgb(234,234,234);
  text-shadow: none;
}
</style>



<!-- <div class="col-xs-10 clear-fix">
  <div class="detail-wrapper row">
    <div class="col-xs-12 clothes-image clear-fix">
      <img style="max-width: 100%;" ng-src="{{clothes.image}}">
    </div>
  </div>
  <div id="gradient-bg" class="row clear-fix">
    <div class="col-xs-12">
      <p class="clothes-name"><i class="fa fa-tags"></i>{{clothes.name || 'GoodFellas T恤'}}</p>
    </div>
    <div class="col-xs-12">
      <div class="clothes-misc col-xs-9">
        <span>类别：</span>
        <span ng-repeat="variant in clothes.variants">
          <span ng-class="{highlight: currentVariant == variant}" class="variant" ng-click="updateVariant(variant)">{{variant.screen_name}}</span>
        </span>
        <hr/>
        <div class="variant-size">
          <span>尺码：</span>
          <span class="size" ng-click="selectSize(size)" ng-repeat="size in currentVariant.sizes"> {{size.name}} </span>
        </div>
      </div>

      <div class="clothes-price col-xs-3">
        <p class="price">￥{{clothes.price || 349}}</p>
        <p class="label">TOTAL/ITEM</p>
      </div>

    </div>

    <div class="col-xs-12">
      <div class="row">
        <div style="text-align: right" class="col-xs-4 pull-right">
          <p>库存 {{inventory}} 件</p>
          <div class="input-group">
            <span class="input-group-addon">
              数量
            </span>
            <input class="form-control" type="number" min="0" max="{{inventory}}" ng-model="quantity">
          </div>
          <p>总计： {{quantity * clothes.price || '0'}}</p>
          <br/>
          <a class="add-cart" ng-click="addToCart($event, clothes)">加入购物车</a>
          <a class="go-cart" href="/#/order">前往购物车</a>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="col-xs-1">
  <div class="pull-right" social-account></div>
</div>
  -->