<div class="container">
  <div class="row">
    <div class="col-xs-1">
      <div navbar orientation="vertical"></div>
    </div>
    <div class="col-xs-10 clear-fix">
      <div class="detail-wrapper row">
        <div class="col-xs-12 clothes-image clear-fix">
          <img ng-src="{{clothes.image}}">
        </div>

      </div>

      <div id="gradient-bg" class="row clear-fix">
        <div class="col-xs-12">
          <p class="clothes-name"><i class="fa fa-tags"></i>{{clothes.name || 'GoodFellas T恤'}}</p>
        </div>
        <div class="col-xs-12">
          <div class="clothes-meta">
            <div class="clothes-price">
              <p class="price">￥{{clothes.price || 349}}</p>
              <p class="label">TOTAL/ITEM</p>
            </div>
            <div class="clothes-misc">
              <li>sizes
              <li><a ng-click="addToCart(clothes)">加入购物车</a>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="col-xs-1">
      <div class="pull-right" social-account></div>
    </div>
  </div>
</div>
