<div class="global-navbar">
  <div class="row clear-fix">
    <div class="twelve columns clear-fix">
      <h1 class="logo-lg"><a href="/">Benzex</a></h1>
    </div>
    <div class="row">
      <div class="two navbar-item columns"><a href="/#/new">新品</a></div>
      <div class="two navbar-item columns"><a href="/#/look">Lookbook</a></div>
      <div class="two navbar-item columns"><a href="/#/new">网上商店</a></div>
      <div class="two navbar-item columns"><a href="/#/v">精选视频</a></div>
      <div class="two navbar-item columns"><a href="http://tumblr.com">BLOG</a></div>
      <div class="two navbar-item columns"><a href="/#/c">联系我们</a></div>
    </div>
  </div>
</div>
