<div navbar orientation="vertical"></div>

<div class="main">
  <div  class="dark-header">
    <h2 class="logo-md"><a href="#">benzex</a></h2>
    <div class="divider"></div>
    <p class="slogan">Join a weird trip</p>
    <div class="pull-right" usercard who="weiboUser"></div>
  </div>

  <div class="new-gallery">
    <div class="clothes" ng-repeat="good in goods track by $index">
      <a ng-href="/#/detail/{{good.id}}">
        <img width="100%" ng-src="{{good.coverImage}}">
      </a>
      <div class="zero info">
        <p class="detail"><span class="name">{{good.name}}</span> <span class="price">{{good.price}}</span></p>
        <p class="op">
          <a ng-href="#/detail/{{good.id}}"><i class="fa fa-eye"></i>详情</a>
          <a ng-href="#/detail/{{good.id}}"><i class="fa fa-shopping-cart"></i>加入购物车</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div social-account></div>