<div navbar orientation="vertical"></div>

<div class="main">
  <div  class="dark-header">
    <h2 class="logo-md">benzex</h2>
    <div class="divider"></div>
    <p class="slogan">Join a weird trip</p>
    <div class="pull-right" usercard who="weiboUser"></div>
  </div>

  <div class="new-gallery">
    <div class="clothes" ng-repeat="good in goods track by $index">
      <a ng-href="/#/detail/{{good.id}}">
        <img width="100%" ng-src="{{good.coverImage}}">
      </a>
      <div class="zero">
        clothes info goes here.
      </div>
    </div>
  </div>
</div>