<div navbar orientation="vertical"></div>
<div class="main order-wrapper">
  <div class="clear-fix">
    <div style="float: left"><div usercard></div></div>
    <div style="float: left">
      <p class="transparent-input"><input placeholder="您的姓名" type="text" ng-model="name"></p>
      <p class="transparent-input"><input placeholder="发货地址" type="text" ng-model="address"></p>
      <p class="transparent-input"><input placeholder="手机号码" type="text" ng-model="mobile"></p>
    </div>
  </div>
  <hr/>
  <div class="order-main">
    <div class="clear-fix" ng-repeat="c in cart">
      <img class="order-thumbnail" width="64px" ng-src="/data/{{c.snapshot.id}}/{{c.snapshot.cover_name}}">
      <div class="order-detail">
        <p class="order-name"><i class="fa fa-tags"></i>{{c.snapshot.name}}</p>
        <p class="order-misc"><span class="order-price">￥{{c.unit_price}}</span> &times; {{c.count}} {{c.size}}</p>
      </div>
    </div>
  </div>
  <div class="order-sidebar">
    <p class="total">Total: <span class="price">￥{{total}}</span></p>
    <div class="divide">&diams;</div>
    <center><a href="#/new"><i class="fa fa-gift"></i>继续购物</a></center>
    <center><a href="#/checkout"><i class="fa fa-money"></i>现在结帐</i></a></center>
  </div>
</div>
<div social-account></div>

<style type="text/css" media="screen">
.order-wrapper {
  box-sizing: border-box;
  padding: 80px 100px;
}

.order-main {
  float: left;
  width: 415px;
}

.order-sidebar {
  float: left;
}

.order-sidebar .total {
  color: white;
  font-size: 28px;
  line-height: 2;
  margin: 0;
}

.order-sidebar .total .price {
  color: #ffe300;
}

.order-sidebar .divide {
  text-align: center;
  color: white;
  margin: 20px 0;
}

.order-wrapper:after {
  clear: both;
  content: '\0020';
  visibility: hidden;
  display: block;
  height: 0;
}

.order-thumbnail {
  float: left;
}

.order-detail {
  float: left;
  margin-left: 20px;
}

.order-detail .order-name,
.order-detail .order-misc {
  color: white;
  font-size: 18px;
  line-height: 1.9;
  margin: 0;
}

.order-detail .order-price {
  color: #ffe300;
  font-size: 22px;
}

.order-detail .order-name {
  font-size: 22px;
  line-height: 1.4;
}

.transparent-input {
  margin: 0;
}
.transparent-input input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 6px;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  margin: 10px 0;
  width: 360px;
}
</style>
