<div class="container">
  <div class="row">
    <div class="col-xs-1">
      <div navbar orientation="vertical"></div>
    </div>
    <div class="col-xs-10">
      <div>usercard</div>
      <div>
        <li>address
        <li>mobile phone
        <li>email
      </div>
      <hr/>
      <!-- order -->
      <div class="cart">
        <ul class="cart-list">
          <li class="cart-item" ng-repeat="c in cart">
          <a ng-href="#/detail/{{c.category}}/{{c.name}}">
            <img width="64px" ng-src="/data/{{c.snapshot.id}}/cover.jpg">
          </a>
          <i class="fa fa-tags"></i><span class="name">{{c.snapshot.name}}</span>
          <a ng-click="lessCount(c.count)">-</a>
          <span>{{c.count}}</span>
          <a ng-click="moreCount(c.count)">+</a>
          <span class="price">{{c.unit_price}}<small>TOTAL/ITEM</small></span>
          <span>{{c.size}}</span>
          </li>
        </ul>
      </div>
      <div> total </div>
      <div>
        <a href="/#/new">继续购物</a>
        <a href="/#/checkout">现在结帐</a>
      </div>
    </div>
    <div class="col-xs-1">
      <div class="pull-right" social-account></div>
    </div>
  </div>
</div>
