<div navbar orientation="vertical"></div>
<div class="main order-wrapper">
  <div class="clear-fix">
    <div style="float: left"><div usercard></div></div>
    <div style="float: left">
      <p class="transparent-input"><input placeholder="您的姓名" type="text" ng-model="name"></p>
      <p class="transparent-input"><input placeholder="发货地址" type="text" ng-model="address"></p>
      <p class="transparent-input"><input placeholder="手机号码" type="text" ng-model="mobile"></p>
    </div>
  </div>
</div>
<div social-account></div>
