<% include section/header %>
        <title>Reset password - Fanformed.com</title>
        <% include section/placeholder_cleanup %>
    </head>	
	<body>
		<div class="loginWrap" id="reset_password_form">
		    <center>
		        <h3 class="welcomeTo">Login with</h3>
		        <h1 class="logo560"><img src="/images/icons/logo560.png" alt="" /></h1>
		        <div class="thirdPartyLogin">
		            <div class="centerClear">
                        <span><%=email%></span>
		                <span class="errMsg" style="display:block;"><%= sysmsg || "Please create a new password here." %></span>
			            <form method="POST">
		                    <input type="text" class="inputText inputText1" name="password" placeholder="New Password"/>
		                    <input type="text" class="inputText" name="password_verify" placeholder="Confirm New Password"/>
			                <input type="submit" class="loginBtn80" value="Submit"/>
			            </form>
		            </div>             
		        </div>
		    </center>
            <% include section/footer %>
		</div>
	</body>
</html>


