<% include section/header %>
        <title>Reset password - Fanformed.com</title>
    </head>	
	<body>
		<div class="loginWrap">
		    <center>
		        <h3 class="welcomeTo">Login with</h3>
		        <h1 class="logo560"><img src="/images/icons/logo560.png" alt="" /></h1>
		        <div class="thirdPartyLogin">
		            <div class="centerClear">		                
		                <a href="/auth/twitter" class="twitterBtn"></a>
		                <a href="/auth/facebook" class="faceBookBtn"></a>
		                <a href="/auth/google" class="googleBtn"></a>
		                <p class="lineStyle"></p>
		            </div>
		            <div class="centerClear">
		                <span class="errMsg" style="display:block;"><%= sysmsg || ""%></span>
                        <%if ( showForm ){ %>		                
			            <form method="POST">
		                    <input type="text" class="inputText inputText1" name="email" placeholder="Email"/>
			                <input type="submit" class="loginBtn80" value="Reset"/>
			                <a href="/login" class="forgotPassword">Back to Login.</a>
			            </form>
			            <% } %>
			            <div class="linkToSignUp">
			            	Not a member yet? <a href="/oauth">Sign up now.</a>
			            </div>	                          
		            </div>             
		        </div>
		    </center>
            <% include section/footer %>        
		</div>
	</body>
</html>


