<% include section/header %>
        <title>Reset password - Fanformed.com</title>
        <meta http-equiv="refresh" content="5; url=/" />
    </head>
	<body>
 	    <div class="findPassword">
			<div class="findPasswordCont">
				<h2 class="findPassWordTitle">Password Changed</h2>
				<h3>Please remember your new password!</h3>
				<p>
                    <p>You will be redirected sonn. Click <a href="/">here</a> if it doesn't work.</p>
				</p>
			</div>
			<% include section/footer %>
		</div>
	</body>
</html>


