.clear-fix:after {
  display: block;
  visibility: hidden;
  content: '\0020';
  line-height: 0;
  clear: both;
}
.social-media {
  text-align: right;
  height: 20px;
  line-height: 20px;
}

.social-media a {
  margin: 2px;
}

.homepage {
  margin-top: -20px;
}

.navbar-item {
  text-align: center;
}

/**** backgrounds ****/

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background: transparent no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

body.homepage {
  background-image: url(../images/bgs/homepage.jpg);
}
