html {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3";
  font-size: 14px;
  line-height: 1.4;
  min-height: 100%;
}

body {
  min-height: 100%;
  background: transparent no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

@font-face {
    font-family: 'bebas';
    src: url('font/BebasNeue-webfont.eot');
    src: url('font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/BebasNeue-webfont.woff') format('woff'),
         url('font/BebasNeue-webfont.ttf') format('truetype'),
         url('font/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
  color: #eee;
  text-shadow: 0 -1px 0 #642;
  text-decoration: none;
}

.clear-fix:after {
  display: block;
  visibility: hidden;
  content: '\0020';
  line-height: 0;
  clear: both;
}
.social-media {
  text-align: right;
  height: 20px;
  line-height: 20px;
}

.social-media a {
  font-size: 16px;
  margin: 2px;
}

.navbar-item {
  text-align: center;
}

/**** backgrounds ****/


.global-navbar {
  background-color: #030303;
  padding-bottom: 20px;
}

.logo-lg {
  font-family: bebas, sans-serif;
  color: white;
  font-size: 48px;
  line-height: 1.1;
  padding-top: 0;
}

.logo-lg a {
  color: #eee;
  text-shadow: 0 0 1px rgba(233, 233, 233, .9);
  font-size: 64px;
}

.logo-lg sup {
  vertical-align: top;
  text-indent: 0.2em;
  font-size: 0.4em;
}

.view-wrapper {
  margin-top: -20px;
  min-height: 100%;
  background-size: cover;
}

.homepage .view-wrapper {
  background: black url(../images/bgs/homepage.jpg) no-repeat center center fixed;
}

.clean-list {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
