html {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3";
  font-size: 14px;
  line-height: 1.4;
  min-height: 100%;
}

body {
  min-height: 100%;
  background: transparent no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

@font-face {
    font-family: 'bebas';
    src: url('font/BebasNeue-webfont.eot');
    src: url('font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/BebasNeue-webfont.woff') format('woff'),
         url('font/BebasNeue-webfont.ttf') format('truetype'),
         url('font/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
  color: #fff;
  text-shadow: 0 1px 0 #999;
  text-decoration: none;
}

a:hover {
  color: #ffe400;
}

.clear-fix:after {
  display: block;
  visibility: hidden;
  content: '\0020';
  line-height: 0;
  clear: both;
}

.social-media {
  text-align: right;
  height: 20px;
  line-height: 20px;
}

.social-media a {
  font-size: 16px;
  margin: 2px;
}

.horizontal-list {
  margin-top: 30px;
}

.navbar-item {
  width: 160px;
  float: left;
  text-align: center;
}

/**** backgrounds ****/


.global-navbar {
  background-color: #030303;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.global-navbar .container {
  position: relative;
}

.corner {
  position: absolute;
  right: 0;
  top: 0;
}

.logo-lg {
  font-weight: normal;
  font-family: bebas, sans-serif;
  color: white;
  font-size: 48px;
  line-height: 1.1;
  padding-top: 0;
  margin: 0;
}

.logo-lg a {
  color: #eee;
  background: transparent url(../images/logo.png) no-repeat center center;
  font-size: 64px;
  text-indent: -9999px;
  width: 170px;
  height: 55px;
  float: left;
}

.logo-lg sup {
  vertical-align: top;
  text-indent: 0.2em;
  font-size: 0.4em;
}

.logo-md {
  text-align: center;
  color: white;
}

.view-wrapper {
  margin-top: -20px;
  min-height: 100%;
  background-size: cover;
  margin: 0 auto;
}

.horizontal-navbar {
  padding-top: 30px;
}

body {
  padding-top: 20px;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: fixed;
}

.clean-list {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

.vertical-list {
  font-size: 12px;
}

.usercard {
  font-size: 12px;
  text-align: center;
  line-height: 2;
  width: 150px;
}

.usercard .avatar {
  position: relative;
}

.usercard .avatar img {
  border-radius: 50%;
}

.usercard .avatar:before {
  content: '\0020';
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50% 50% 0 0;
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .2) 45%, rgba(255, 255, 255, .8));
  transform-origin: bottom center;
  transform: rotate(-45deg);
}

.new-header {
  background-color: rgba(0, 0, 0, .75);
}

.new-gallery {
  background-color: #f8f8f8;
  min-height: 300px;
}

.detail-wrapper {
  background-color: transparent;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .23);
  padding: 30px 0;
}

.clothes-image {
  padding-top: 100px;
  margin-top: -100px;
  background-color: white;
  text-align: center;
  color: #333;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
}

.clothes-name {
  padding: 10px 20px 0;
  font-size: 16px;
  line-height: 2;
  border-bottom: 2px solid #ddd;
}

.clothes-meta {
  float:right;
  outline: 1px solid skyblue;
  width: 50%;
}

.gradient-bg {
  float: left;
  width: 100%;

background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.89) 36%, rgba(255,255,255,0.31) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(36%,rgba(255,255,255,0.89)), color-stop(100%,rgba(255,255,255,0.31))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.89) 36%,rgba(255,255,255,0.31) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.89) 36%,rgba(255,255,255,0.31) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.89) 36%,rgba(255,255,255,0.31) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.89) 36%,rgba(255,255,255,0.31) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4fffffff',GradientType=0 ); /* IE6-9 */
  
}

.clothes-price {
  width: 33.3333333%;
  outline: 1px solid red;
  float: left;
}

.clothes-misc {
  width: 66.666667%;
  outline: 1px solid green;
  float: left;
}

.clothes-name .fa {
  margin: 3px;
}

#waterfall {
  position: relative;
  background-color: #e3a8af;
  min-height: 300px;
}

#waterfall .shot {
  width: 25%;
  position: absolute;
  outline: 1px solid yellow;
}

.goods {
  border: 1px solid rgb(233, 233, 233);
  border: 1px solid rgba(233, 233, 233, .2);
}
