<div class="horizontal-navbar row" ng-if="orientation == 'horizontal'">
  <div class="navbar-item col-xs-2"><a href="/#/new">新品</a></div>
  <div class="navbar-item col-xs-2"><a href="/#/look">Lookbook</a></div>
  <div class="navbar-item col-xs-2"><a href="/#/new">网上商店</a></div>
  <div class="navbar-item col-xs-2"><a href="/#/v">精选视频</a></div>
  <div class="navbar-item col-xs-2"><a href="http://tumblr.com">BLOG</a></div>
  <div class="navbar-item col-xs-2"><a href="/#/c">联系我们</a></div>
</div>

<div class="vertical-list" ng-if="orientation == 'vertical'">
  <ul class="clean-list">
    <li><a href="/#/new">新品</a></li>
    <li><a href="/#/look">lookbook</a></li>
    <li><a href="/#/new">网上商店</a></li>
    <li><a href="/#/v">精选视频</a></li>
    <li><a href="http://tumblr.com">BLOG</a></li>
    <li><a href="/#/c">联系我们</a></li>
  </ul>
</div>
