<a ng-if="!isAuth" ng-class="{button: isButton}" ng-click="toggleBox()">注册/登录</a>
<div ng-if="isAuth">
  <a ng-href="{{who.link}}">
    <img ng-src="{{who.avatar}}" height="14px"/><span>{{who.name}}</span>
  </a>
  <a ng-click="logout()">退出</a>
</div>

<div id="account-box" ng-show="showBox">
  <div id="account-content">
    <a id="ac-close" href="" ng-click="showBox = false"><i class="fa fa-times"></i></a>
    <h3>登录/注册</h3>
    <div id="ac-login">
      <p>我是 BENZEX.COM 的用户</p>
      <p>
      <input class="fancy-input" ng-model="loginemail" type="text" placeholder="email">
      </p>
      <p>
      <input class="fancy-input" ng-model="loginpassword" type="password" placeholder="password">
      </p>
      <p>
      <input class="fancy-input fancy-button" type="submit" ng-click="login()">
      </p>
      <span>或者</span>
      <a href="/auth/weibo">微博登录</a>
    </div>
    <div id="ac-register">
      <p>我想加入 BENZEX.COM </p>
      <p>
      <input class="fancy-input" ng-model="reg.name" type="text" placeholder="name">
      </p>
      <p>
      <input class="fancy-input" ng-model="reg.email" type="text" placeholder="email">
      </p>
      <p>
      <input class="fancy-input" ng-model="reg.password" type="password" placeholder="password">
      </p>
      <p>
      <input value="注册" type="submit" class="fancy-input fancy-button" ng-click="register()">
      </p>
    </div>
  </div>
</div>

